<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpN-CJ3je3E5O_Vyl4YVpuKb9lVtokGOg</string>
	<key>GCM_SENDER_ID</key>
	<string>738537854047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.qleo</string>
	<key>PROJECT_ID</key>
	<string>qleo-51ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>qleo-51ccd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738537854047:ios:6d48b1b5089e426b8d37ea</string>
</dict>
</plist>